@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "font";
  src: url("/Fonts/ClashDisplay-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "font";
}
